@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

/* html {
  font-size: 62.5%;
} */

.App {
    /* padding-top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 8rem;
  letter-spacing: 0.1rem;
  color: #40b48e;
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
    margin-top: 40px;
  width: 40rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1rem 2rem 5rem #aaa;
  position: relative;
}

.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #40b48e;
  color: #fff;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 62.5%;
  align-items: flex-start;

}

.recipe {
  width: 20rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
  text-align: center;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.4rem;
  color: #40b48e;
}

.recipe button {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #40b48e;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  margin-top: 10px;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.2rem;
  color: #888;
}

.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
}