.home-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.home-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* margin-bottom: 3rem; */
}
.home-page-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-page-food-count-container {
  width: 40%;
  z-index: 100;
  opacity: 1;

  text-align: center;
}

.home-page-food-count-img {
  height: 23rem;
  opacity: 0.8;
}

.home-page-food-count-message {
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: orange;
}

.home-page-food-count {
  font-size: 5rem;
  margin: 0;
  position: relative;
  top: -12.6rem;
  font-weight: normal;
  color: rgb(15, 2, 2);
}

.food-page-expiration-count-container {
  text-align: center;
}

.expiration-number {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 0rem;
  font-weight: normal;
}

.expiration-message {
  color: black;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 2.5rem;
  font-weight: normal;
}

.waste-message {
  margin-bottom: 8rem;
}

.waste-quantity {
  margin-top: 4rem;
}

.low {
  color: #dd2e22;
  margin-bottom: 3%;
}

.medium {
  color: #ef9712;
  margin-bottom: 3%;
}

.high {
  color: #31dd22;
  margin-bottom: 3%;
}

.home-page-waste-cost-quantity-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2rem;
  background-color: rgb(42, 42, 58);
  box-shadow: 5px 5px 5px 5px lightgrey;
  color: white;
}

.home-page-wasted {
  margin-right: 15rem;
}

.top-message-container {
  display: flex;
  justify-content: center;
}

.top-message {
  margin-right: 7rem;
}

.home-page-food-count-message-bottom {
  font-size: 2rem;
  margin: 0;
  font-weight: normal;
  margin-top: 0.5rem;
}

.home-page-cards {
  border: 2px solid orange;
  background: white;
  border-radius: 5%;
  padding: 2% 1% 10% 0%;
  width: 15rem;
  height: 0rem;

  display: inline-block;
  margin: 2% 3%;

  box-shadow: 2px 2px 2px 2px grey;
  transition-duration: 0.5s;

}
.slides {
  background: #0000008a;
  background: url(https://images.unsplash.com/photo-1601657672107-ebf66c393b5c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 500px;
}
.carousels {
  width: 100%;
  position: absolute;
}
.message {
  color: white;
}
.home-page-card-container {
  width: 97%;
  padding: -1% 20%;

  position: absolute;
  left: 5px;
}

/* responsive code */
@media only screen and (max-width: 550px) {
  .home-page-food-count-container {
    width: 60%;
  }
  .msg1{
    margin-top: 25%;
    margin-bottom: 20%;
    font-size: 35px;
  }
  .carousels{
    width: 100%;

  }
  .slideshow-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slides{
    height: 15rem;
  }
  .msg2{
    margin-top: 26%;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .home-page-cards {
    width: 60%;
    height: 10%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom: 10%;
    padding: 0% 4%;
  }
  .high{
    margin-bottom: 2%;
  }
  .expiration-number {
    font-size: 2rem;
    /* margin: 0; */
    /* margin-bottom: 0rem; */
    font-weight: normal;
  }
  
  .expiration-message {
    color: black;
    font-size: 1.5rem;
    /* margin: 0; */
    margin-bottom: 1rem;
    font-weight: normal;
  }
  .msghindi{
    font-size: 1.3rem;
  }
  .home-page-food-count-img {
    height: 15rem;
    opacity: 0.8;
  }
  .hindi-expire-msg{
    font-size: 1rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 770px) {
  .home-page-food-count-container {
    width: 60%;
  }
  .msg1{
    margin-top: 25%;
    margin-bottom: 20%;
    font-size: 35px;
  }
  .carousels{
    width: 100%;

  }
  .slideshow-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slides{
    height: 25rem;
  }
  .msg2{
    margin-top: 26%;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .home-page-cards {
    width: 60%;
    height: 10%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom: 10%;
    padding: 0% 4%;
  }
  .high{
    margin-bottom: 2%;
  }
  .expiration-number {
    font-size: 2rem;
    /* margin: 0; */
    /* margin-bottom: 0rem; */
    font-weight: normal;
  }
  
  .expiration-message {
    color: black;
    font-size: 1.5rem;
    /* margin: 0; */
    margin-bottom: 1rem;
    font-weight: normal;
  }
  .msghindi{
    font-size: 1.5rem;
  }
  .home-page-food-count-img {
    height: 17rem;
    opacity: 0.8;
  }
  .hindi-expire-msg{
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1200px) {
  .home-page-food-count-container {
    width: 40%;
  }
  .msg1{
    margin-top: 15%;
    margin-bottom: 20%;
    font-size: 55px;
  }
  .carousels{
    width: 100%;

  }
  .slideshow-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slides{
    height: 25rem;
  }
  .msg2{
    margin-top: 26%;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .home-page-cards {
    /* display: block; */
    text-align:center;
    width:25%;
    height: 10%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom: 10%;
    padding: 0% 1.1%;
  }
  .high{
    margin-bottom: 2%;
  }
  .expiration-number {
    font-size: 2.5rem;
    /* margin: 0; */
    /* margin-bottom: 0rem; */
    font-weight: normal;
  }
  
  .expiration-message {
    color: black;
    font-size: 1.7rem;
    /* margin: 0; */
    margin-bottom: 1rem;
    font-weight: normal;
  }
  /* .expire-content{
    display: flex;
  flex-direction: row;
  justify-content: center;
  } */
  .msghindi{
    font-size: 2rem;
  }
}