.home-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
    /* margin-bottom: 3rem; */
}
.home-page-card-container{
    display: flex;
    flex-direction: column;

}

.home-page-cards{
    border-radius: 10px;
    margin: 15px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
    background: #FCFCFC;
    transition-duration: 0.5s;
}

.home-page-cards:hover{
    cursor: pointer;
    background: #dbdbdb;
 }
.home-page-food-count-container{
    width: 23rem;
    text-align: center;
}

.home-page-food-count-img {
    height: 23rem;
    opacity: .8;
}

.home-page-food-count-message {
    font-size: 2rem;
    margin: 0;
    font-weight: normal;
    margin-bottom: 3rem;
}

.home-page-food-count {
    font-size: 5rem;
    margin: 0;
    position: relative;
    top: -12.6rem;
    font-weight: normal;
    color: rgb(15, 2, 2);
}

.food-page-expiration-count-container {
    text-align: center;
}

.expiration-number {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 0rem;
    font-weight: normal;
}

.expiration-message {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 2.5rem;
    font-weight: normal;
}

.waste-message {
    margin-bottom: 8rem;
}

.waste-quantity {
    margin-top: 4rem;
}

.low {
    color: rgb(199, 46, 46);
}

.medium {
    color: rgb(221, 196, 83);
}

.high {
    color: rgb(119, 167, 65);
}

.home-page-waste-cost-quantity-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2rem;
    background-color: rgb(42, 42, 58);
    box-shadow: 5px 5px 5px 5px lightgrey;
    color: white;
}

.home-page-wasted {
    margin-right: 15rem;
}

.top-message-container {
    display: flex;
    justify-content: center;

}

.top-message {
    margin-right: 7rem;
}

.home-page-food-count-message-bottom {
    font-size: 2rem;
    margin: 0;
    font-weight: normal;
    margin-top: .5rem;
}