.navbar {
    background-color: #222;
    padding: 1.25rem;
    height: 2rem;
    box-shadow: 5px 5px 5px lightgrey ;
    display: flex;
    justify-content: space-between;
}

.navbar-title {
    font-size: 2rem;
    margin: 0;
}

.link-container {
    display: flex;
    justify-self: unset;
    flex-direction: row;
    align-items: flex-end;
    /* margin-bottom: 4rem; */
}

.links {
    position: relative;
    margin-right: 30px;
    padding-left: 650px;
    bottom: .4rem;
    /* font-size: 1.5rem; */
}

.link {
    color: #9FFFCB;
    text-decoration: none;
    margin-right: 1.4rem;
}

.logout-button {
    height: 1.6rem;
    margin-right: 1rem;
}


