.signin{
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 100vh;
    background-color: white !important;
}
/* .signin_logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width:100px;
    margin-right: auto;
    margin-left: auto;
} */

.signin-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:300px;
    height:fit-content;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    /* background-color: white !important; */
}
.signin-content > h2{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500px;
}
.signin_content > form >h5{
    margin-bottom: 20px;
  
}
.signin_container > p{
    font-size: 12px;
    margin-top: 15px;
}
.signin_container > form > input{
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 0px 10px;
}
.signin_container > form > button{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #00a8ff;
    color: white;
    font-weight: 500px;
    font-size: 15px;
    cursor: pointer;
}
.signin_container > form > button:hover{
    background-color: #00a8ff;
    color: white;
}
.signin_container > form > button:focus{
    outline: none;
}
.signin_container > form > button:active{
    background-color: #00a8ff;
    color: white;
}
.signin_container > form > button:disabled{
    background-color: #00a8ff;
    color: white;
}
.signin_container > form > button:disabled:hover{
    background-color: #00a8ff;
    color: white;
}
.signin_container > form > button:disabled:focus{
    outline: none;
}
.signin_container > form > button:disabled:active{
    background-color: #00a8ff;
    color: white;
}

.signin_button{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #00a8ff;
    color: white;
    font-weight: 500px;
    font-size: 15px;
    cursor: pointer;
}
.signin_register_button{
   border-radius: 5px;
   border: 1px solid lightgray;
   height: 40px;
    width: 100%;
    cursor: pointer;
    border: 1px solid;
}

/* .signin_form{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
} */