@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    outline: none;
}

.App {
    display: flex;
    justify-content: center;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}